{{#> layout_default }}
{{#*inline "header"}}<h1>{{head_title}}</h1>{{/inline}}
{{#*inline "content"}}
<article>{{{content}}}</article>
{{#each list_content}}
<div id="{{id}}">
  <div><a href="{{props.link_self}}">{{props.head_title}}</a></div>
  <div>{{props.head_description}}</div>
</div>
{{/each}}
{{/inline}}
{{/layout_default}}