<head>
  <meta charset="utf-8">
  <title>{{head_title}}</title>
  <meta name="description" content="{{head_description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta http-equiv="Cache-Control" content="no-cache">

  {{#if head_og_type}}
  <meta property="og:type" content="{{head_og_type}}">
  {{else}}
  <meta property="og:type" content="website">
  {{/if}}
  {{#if head_og_title}}
  <meta property="og:title" content="{{head_og_title}}">
  {{else}}
  <meta property="og:title" content="{{head_title}}">
  {{/if}}
  {{#if head_og_description}}
  <meta property="og:description" content="{{head_og_description}}">
  {{else}}
  <meta property="og:description" content="{{head_description}}">
  {{/if}}
  {{#if head_og_url}}
  <meta property="og:url" content="{{head_og_url}}">
  <meta name="twitter:url" content="{{head_og_url}}">
  {{/if}}
  {{#if head_og_image}}
  <meta property="og:image" content="{{head_og_image}}">
  <meta name="twitter:card" content="summary_large_image">
  {{/if}}
  {{#if head_twitter_image}}
  <meta name="twitter:image" content="{{head_twitter_image}}">
  {{/if}}

  {{!-- site css --}}
  <link rel="stylesheet" href="/css/style.css">

</head>
